body {
  background-color: #8eecf5;
  /* padding: 10px 0; */
}

.App {
  text-align: center;
  width: 60%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
}
